*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  /* color: #48484a; */
  line-height: 1.5;
  font-size: 0.875rem;
}

/* aside {
  position: absolute;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #eaeaed;
  padding: 20px;
  color: #0072bc;
  z-index: 1;
} */

select {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  /* width: 50%; */
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  cursor: pointer;
  color: #48484a;
}
/* footer {
  position: absolute;
  bottom: 0;
  left: 45%;
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-align: center;
} */

.description {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.celcius {
  line-height: 2;
  font-size: 1rem;
}
.temperature span {
  font-size: 50px;
}
.temperature {
  font-size: 36px;
  margin-right: 8pt;
}
/* .hide {
  display: none;
} */
input{
  max-width: 400px;
}

.btn {
  margin: 0 10px;
}

.card {
  /* width: 100vw; */
  margin: 2rem;
  max-width: 450px;
  background: #fff;
  border-radius: 0.125rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.loading {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
}
.underline {
  /* width: 6rem;
  height: 0.25rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto; */
  text-decoration: underline hsl(205, 78%, 60%);
}

.cities-weather{
  margin: auto;
  max-width: 100%;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-item{
  cursor: pointer;
}

.not-found{
  text-align: center;
}

